.hero{
    height: 100vh;
    background-image: url("../assets/main_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media(max-width: 500px){
    .hero{
        height: 500px;
    }
}